@font-face {
    font-family: 'Product';
    src: url('../../fonts/product-sans/Product-Sans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Product';
    src: url('../../fonts/product-sans/Product-Sans-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Product';
    src: url('../../fonts/product-sans/Product-Sans-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Product';
    src: url('../../fonts/product-sans/Product-Sans-Bold-Italic.ttf');
    font-weight: bold;
    font-style: italic;
}

