html, body {
    font-family: 'Product';
}

body {
    background-color: #000E1A;
}

html {
    height: 100%;
}

label {
    font-size: 14px !important;
    color: rgba(0, 0, 0, .7);
    padding-left: 20px;
}

#relogio-de-ponto,
#nav-bar-ponto {
    background-color: #001B31;
}

.body-video {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: scaleX(-1);
    z-index: -1;
    margin-left: 250px;
}

.body-video video {
    width: 100% !important;
    height: auto !important;
}

.body {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.body-splash {
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #000E1A;
    width: 100%;
    height: 100%;
}

.body-splash .box-center {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.body-splash .box-center .body-login {
    display: none;
    width: 400px;
    background-color: #E8E8E8;
    border-radius: 7px;
    margin-top: 60px;
}

.login-top {
    height: 60px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}

.login-top .title-login {
    font-size: 25px;
    color: rgba(0, 0, 0, .7);
}

.input-wrapper {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.input-wrapper input {
    transition: .250s;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .3);
    padding-left: 20px;
    padding-right: 20px;
    font-style: 17px;
    width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    font-size: 17px;
    background-color: transparent;
}

.input-wrapper input:hover {
    background-color: #fff;
}

.box-info {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sys-orange {
    background-color: #FF5100 !important;
}

.send-form-content {
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 0px;
}

#send-login-org {
    position: absolute;
    bottom: -10px;
    right: -78px;
}

#show-hour {
    font-size: 120px;
}

#show-person {
    width: 120px;
    height: 120px;
    margin-top: 50px;
}

#show-name {
    font-size: 30px;
    margin-bottom: 100px;
}

#show-day {
    font-size: 20px;
}

#check-person {
    visibility: hidden;
}

#area-ideal {
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

#marcation {
    width: 90%;
    height: 90%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #FF5100; 
}

.box-tracker {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

#tracking-canvas {
    visibility: hidden;
}

/* Custom materialize */
.dropdown-content {
    width: 200px !important;
    border-radius: 5px;
}

